@use "sass:map" as *;

@use "element-plus/theme-chalk/src/base.scss" as *;
@use "../../input/src/input.styles.scss" as *;
@use "../../scrollbar/src/scrollbar.styles.scss" as *;
@use "../../popper/src/popper.styles.scss" as *;

@use "../../date-picker/src/styles/picker.scss" as *;
@use "../../date-picker/src/styles/picker-panel.scss" as *;
@use "../../date-picker/src/styles/time-spinner.scss" as *;
@use "../../date-picker/src/styles/time-picker.scss" as *;
@use "../../date-picker/src/styles/time-range-picker.scss" as *;

.gui-date-editor.gui-input,
.gui-date-editor.gui-input__wrapper {
  height: 3rem;
  width: auto;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}
.gui-popper.gui-popper__tooltip {
  max-width: none !important;
  padding: 0 !important;
}

.gui-date-editor.is-active,
.gui-date-editor.is-active:hover {
  @apply border-everBlue-500;
  box-shadow: none;
}
.gui-date-editor .gui-input__icon {
  width: 1.25rem;
  @apply text-terciary-txt;
}

.gui-date-editor .gui-range-input {
  text-align: left !important;
  font-size: 1rem;
  color: var(--color-txt-primary);
  font-weight: 500;

  &::placeholder {
    @apply transition-all duration-200 ease-in text-terciary-txt;
  }
}

.gui-date-editor--timerange .gui-input__label {
  @apply text-secondary-txt;

  left: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
}
.gui-date-editor--timerange.is-active {
  .gui-input__label {
    @apply text-everBlue-500;
  }
}

.gui-time-range-picker__body {
  border-radius: 2px;
  border: 1px solid #949aab;
}
