@charset "UTF-8";
/* Element Chalk Variables */
:root {
  --gui-color-white: #ffffff;
  --gui-color-black: #000000;
  --gui-color-primary-rgb: 32, 52, 120;
  --gui-color-success-rgb: 0, 196, 140;
  --gui-color-warning-rgb: 255, 209, 83;
  --gui-color-danger-rgb: 255, 100, 124;
  --gui-color-error-rgb: 255, 100, 124;
  --gui-color-info-rgb: 215, 220, 240;
  --gui-font-size-extra-large: 20px;
  --gui-font-size-large: 18px;
  --gui-font-size-medium: 16px;
  --gui-font-size-base: 14px;
  --gui-font-size-small: 13px;
  --gui-font-size-extra-small: 12px;
  --gui-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --gui-font-weight-primary: 500;
  --gui-font-line-height-primary: 24px;
  --gui-index-normal: 1;
  --gui-index-top: 1000;
  --gui-index-popper: 2000;
  --gui-border-radius-base: 4px;
  --gui-border-radius-small: 2px;
  --gui-border-radius-round: 20px;
  --gui-border-radius-circle: 100%;
  --gui-transition-duration: 0.3s;
  --gui-transition-duration-fast: 0.2s;
  --gui-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --gui-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --gui-transition-all: all var(--gui-transition-duration) var(--gui-transition-function-ease-in-out-bezier);
  --gui-transition-fade: opacity var(--gui-transition-duration) var(--gui-transition-function-fast-bezier);
  --gui-transition-md-fade: transform var(--gui-transition-duration) var(--gui-transition-function-fast-bezier), opacity var(--gui-transition-duration) var(--gui-transition-function-fast-bezier);
  --gui-transition-fade-linear: opacity var(--gui-transition-duration-fast) linear;
  --gui-transition-border: border-color var(--gui-transition-duration-fast) var(--gui-transition-function-ease-in-out-bezier);
  --gui-transition-box-shadow: box-shadow var(--gui-transition-duration-fast) var(--gui-transition-function-ease-in-out-bezier);
  --gui-transition-color: color var(--gui-transition-duration-fast) var(--gui-transition-function-ease-in-out-bezier);
  --gui-component-size-large: 40px;
  --gui-component-size: 32px;
  --gui-component-size-small: 24px;
}

:root {
  color-scheme: light;
  --gui-color-primary: #203478;
  --gui-color-primary-light-3: rgb(98.9, 112.9, 160.5);
  --gui-color-primary-light-5: rgb(143.5, 153.5, 187.5);
  --gui-color-primary-light-7: rgb(188.1, 194.1, 214.5);
  --gui-color-primary-light-8: rgb(210.4, 214.4, 228);
  --gui-color-primary-light-9: rgb(232.7, 234.7, 241.5);
  --gui-color-primary-dark-2: rgb(25.6, 41.6, 96);
  --gui-color-success: #00C48C;
  --gui-color-success-light-3: rgb(76.5, 213.7, 174.5);
  --gui-color-success-light-5: rgb(127.5, 225.5, 197.5);
  --gui-color-success-light-7: rgb(178.5, 237.3, 220.5);
  --gui-color-success-light-8: rgb(204, 243.2, 232);
  --gui-color-success-light-9: rgb(229.5, 249.1, 243.5);
  --gui-color-success-dark-2: rgb(0, 156.8, 112);
  --gui-color-warning: #FFD153;
  --gui-color-warning-light-3: rgb(255, 222.8, 134.6);
  --gui-color-warning-light-5: #ffe8a9;
  --gui-color-warning-light-7: rgb(255, 241.2, 203.4);
  --gui-color-warning-light-8: rgb(255, 245.8, 220.6);
  --gui-color-warning-light-9: rgb(255, 250.4, 237.8);
  --gui-color-warning-dark-2: rgb(204, 167.2, 66.4);
  --gui-color-danger: #FF647C;
  --gui-color-danger-light-3: rgb(255, 146.5, 163.3);
  --gui-color-danger-light-5: rgb(255, 177.5, 189.5);
  --gui-color-danger-light-7: rgb(255, 208.5, 215.7);
  --gui-color-danger-light-8: rgb(255, 224, 228.8);
  --gui-color-danger-light-9: rgb(255, 239.5, 241.9);
  --gui-color-danger-dark-2: rgb(204, 80, 99.2);
  --gui-color-error: #FF647C;
  --gui-color-error-light-3: rgb(255, 146.5, 163.3);
  --gui-color-error-light-5: rgb(255, 177.5, 189.5);
  --gui-color-error-light-7: rgb(255, 208.5, 215.7);
  --gui-color-error-light-8: rgb(255, 224, 228.8);
  --gui-color-error-light-9: rgb(255, 239.5, 241.9);
  --gui-color-error-dark-2: rgb(204, 80, 99.2);
  --gui-color-info: #D7DCF0;
  --gui-color-info-light-3: rgb(227, 230.5, 244.5);
  --gui-color-info-light-5: rgb(235, 237.5, 247.5);
  --gui-color-info-light-7: rgb(243, 244.5, 250.5);
  --gui-color-info-light-8: #f7f8fc;
  --gui-color-info-light-9: rgb(251, 251.5, 253.5);
  --gui-color-info-dark-2: #acb0c0;
  --gui-bg-color: #ffffff;
  --gui-bg-color-page: #f2f3f5;
  --gui-bg-color-overlay: #ffffff;
  --gui-text-color-primary: #303133;
  --gui-text-color-regular: #606266;
  --gui-text-color-secondary: #909399;
  --gui-text-color-placeholder: #a8abb2;
  --gui-text-color-disabled: #c0c4cc;
  --gui-border-color: #dcdfe6;
  --gui-border-color-light: #e4e7ed;
  --gui-border-color-lighter: #ebeef5;
  --gui-border-color-extra-light: #f2f6fc;
  --gui-border-color-dark: #d4d7de;
  --gui-border-color-darker: #cdd0d6;
  --gui-fill-color: #f0f2f5;
  --gui-fill-color-light: #f5f7fa;
  --gui-fill-color-lighter: #fafafa;
  --gui-fill-color-extra-light: #fafcff;
  --gui-fill-color-dark: #ebedf0;
  --gui-fill-color-darker: #e6e8eb;
  --gui-fill-color-blank: #ffffff;
  --gui-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --gui-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --gui-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --gui-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --gui-disabled-bg-color: var(--gui-fill-color-light);
  --gui-disabled-text-color: var(--gui-text-color-placeholder);
  --gui-disabled-border-color: var(--gui-border-color-light);
  --gui-overlay-color: rgba(0, 0, 0, 0.8);
  --gui-overlay-color-light: rgba(0, 0, 0, 0.7);
  --gui-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --gui-mask-color: rgba(255, 255, 255, 0.9);
  --gui-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --gui-border-width: 1px;
  --gui-border-style: solid;
  --gui-border-color-hover: var(--gui-text-color-disabled);
  --gui-border: var(--gui-border-width) var(--gui-border-style) var(--gui-border-color);
  --gui-svg-monochrome-grey: var(--gui-border-color);
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: var(--gui-transition-fade-linear);
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

.gui-fade-in-linear-enter-active,
.gui-fade-in-linear-leave-active {
  transition: var(--gui-transition-fade-linear);
}

.gui-fade-in-linear-enter-from,
.gui-fade-in-linear-leave-to {
  opacity: 0;
}

.gui-fade-in-enter-active,
.gui-fade-in-leave-active {
  transition: all var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-fade-in-enter-from,
.gui-fade-in-leave-active {
  opacity: 0;
}

.gui-zoom-in-center-enter-active,
.gui-zoom-in-center-leave-active {
  transition: all var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-zoom-in-center-enter-from,
.gui-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.gui-zoom-in-top-enter-active,
.gui-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--gui-transition-md-fade);
  transform-origin: center top;
}
.gui-zoom-in-top-enter-active[data-popper-placement^=top],
.gui-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.gui-zoom-in-top-enter-from,
.gui-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.gui-zoom-in-bottom-enter-active,
.gui-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--gui-transition-md-fade);
  transform-origin: center bottom;
}

.gui-zoom-in-bottom-enter-from,
.gui-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.gui-zoom-in-left-enter-active,
.gui-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--gui-transition-md-fade);
  transform-origin: top left;
}

.gui-zoom-in-left-enter-from,
.gui-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition: var(--gui-transition-duration) height ease-in-out, var(--gui-transition-duration) padding-top ease-in-out, var(--gui-transition-duration) padding-bottom ease-in-out;
}

.gui-collapse-transition-leave-active,
.gui-collapse-transition-enter-active {
  transition: var(--gui-transition-duration) max-height ease-in-out, var(--gui-transition-duration) padding-top ease-in-out, var(--gui-transition-duration) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: var(--gui-transition-duration) width ease-in-out, var(--gui-transition-duration) padding-left ease-in-out, var(--gui-transition-duration) padding-right ease-in-out;
}

.gui-list-enter-active,
.gui-list-leave-active {
  transition: all 1s;
}

.gui-list-enter-from,
.gui-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.gui-list-leave-active {
  position: absolute !important;
}

.gui-opacity-transition {
  transition: opacity var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-icon-loading {
  animation: rotating 2s linear infinite;
}

.gui-icon--right {
  margin-left: 5px;
}

.gui-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.gui-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}
.gui-icon.is-loading {
  animation: rotating 2s linear infinite;
}

.gui-icon svg {
  height: 1em;
  width: 1em;
}