/* Element Chalk Variables */
:root {
  --gui-popup-modal-bg-color: var(--gui-color-black);
  --gui-popup-modal-opacity: 0.5;
}

.v-modal-enter {
  animation: v-modal-in var(--gui-transition-duration-fast) ease;
}

.v-modal-leave {
  animation: v-modal-out var(--gui-transition-duration-fast) ease forwards;
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
}
@keyframes v-modal-out {
  100% {
    opacity: 0;
  }
}
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--gui-popup-modal-opacity);
  background: var(--gui-popup-modal-bg-color);
}

.gui-popup-parent--hidden {
  overflow: hidden;
}