@charset "UTF-8";
/* Element Chalk Variables */
/* Element Chalk Variables */
:root {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary-rgb: 64, 158, 255;
  --el-color-success-rgb: 103, 194, 58;
  --el-color-warning-rgb: 230, 162, 60;
  --el-color-danger-rgb: 245, 108, 108;
  --el-color-error-rgb: 245, 108, 108;
  --el-color-info-rgb: 144, 147, 153;
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --el-font-weight-primary: 500;
  --el-font-line-height-primary: 24px;
  --el-index-normal: 1;
  --el-index-top: 1000;
  --el-index-popper: 2000;
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-transition-duration: 0.3s;
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier), opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  --el-transition-border: border-color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-component-size-large: 40px;
  --el-component-size: 32px;
  --el-component-size-small: 24px;
}

:root {
  color-scheme: light;
  --el-color-primary: #409eff;
  --el-color-primary-light-3: rgb(121.3, 187.1, 255);
  --el-color-primary-light-5: rgb(159.5, 206.5, 255);
  --el-color-primary-light-7: rgb(197.7, 225.9, 255);
  --el-color-primary-light-8: rgb(216.8, 235.6, 255);
  --el-color-primary-light-9: rgb(235.9, 245.3, 255);
  --el-color-primary-dark-2: rgb(51.2, 126.4, 204);
  --el-color-success: #67c23a;
  --el-color-success-light-3: rgb(148.6, 212.3, 117.1);
  --el-color-success-light-5: rgb(179, 224.5, 156.5);
  --el-color-success-light-7: rgb(209.4, 236.7, 195.9);
  --el-color-success-light-8: rgb(224.6, 242.8, 215.6);
  --el-color-success-light-9: rgb(239.8, 248.9, 235.3);
  --el-color-success-dark-2: rgb(82.4, 155.2, 46.4);
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: rgb(237.5, 189.9, 118.5);
  --el-color-warning-light-5: rgb(242.5, 208.5, 157.5);
  --el-color-warning-light-7: rgb(247.5, 227.1, 196.5);
  --el-color-warning-light-8: rgb(250, 236.4, 216);
  --el-color-warning-light-9: rgb(252.5, 245.7, 235.5);
  --el-color-warning-dark-2: rgb(184, 129.6, 48);
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: rgb(248, 152.1, 152.1);
  --el-color-danger-light-5: rgb(250, 181.5, 181.5);
  --el-color-danger-light-7: rgb(252, 210.9, 210.9);
  --el-color-danger-light-8: rgb(253, 225.6, 225.6);
  --el-color-danger-light-9: rgb(254, 240.3, 240.3);
  --el-color-danger-dark-2: rgb(196, 86.4, 86.4);
  --el-color-error: #f56c6c;
  --el-color-error-light-3: rgb(248, 152.1, 152.1);
  --el-color-error-light-5: rgb(250, 181.5, 181.5);
  --el-color-error-light-7: rgb(252, 210.9, 210.9);
  --el-color-error-light-8: rgb(253, 225.6, 225.6);
  --el-color-error-light-9: rgb(254, 240.3, 240.3);
  --el-color-error-dark-2: rgb(196, 86.4, 86.4);
  --el-color-info: #909399;
  --el-color-info-light-3: rgb(177.3, 179.4, 183.6);
  --el-color-info-light-5: rgb(199.5, 201, 204);
  --el-color-info-light-7: rgb(221.7, 222.6, 224.4);
  --el-color-info-light-8: rgb(232.8, 233.4, 234.6);
  --el-color-info-light-9: rgb(243.9, 244.2, 244.8);
  --el-color-info-dark-2: rgb(115.2, 117.6, 122.4);
  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-svg-monochrome-grey: var(--el-border-color);
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: var(--el-transition-fade-linear);
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

.el-fade-in-linear-enter-active,
.el-fade-in-linear-leave-active {
  transition: var(--el-transition-fade-linear);
}

.el-fade-in-linear-enter-from,
.el-fade-in-linear-leave-to {
  opacity: 0;
}

.el-fade-in-enter-active,
.el-fade-in-leave-active {
  transition: all var(--el-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.el-fade-in-enter-from,
.el-fade-in-leave-active {
  opacity: 0;
}

.el-zoom-in-center-enter-active,
.el-zoom-in-center-leave-active {
  transition: all var(--el-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.el-zoom-in-center-enter-from,
.el-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.el-zoom-in-top-enter-active,
.el-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--el-transition-md-fade);
  transform-origin: center top;
}
.el-zoom-in-top-enter-active[data-popper-placement^=top],
.el-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.el-zoom-in-top-enter-from,
.el-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.el-zoom-in-bottom-enter-active,
.el-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--el-transition-md-fade);
  transform-origin: center bottom;
}

.el-zoom-in-bottom-enter-from,
.el-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.el-zoom-in-left-enter-active,
.el-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--el-transition-md-fade);
  transform-origin: top left;
}

.el-zoom-in-left-enter-from,
.el-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition: var(--el-transition-duration) height ease-in-out, var(--el-transition-duration) padding-top ease-in-out, var(--el-transition-duration) padding-bottom ease-in-out;
}

.el-collapse-transition-leave-active,
.el-collapse-transition-enter-active {
  transition: var(--el-transition-duration) max-height ease-in-out, var(--el-transition-duration) padding-top ease-in-out, var(--el-transition-duration) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: var(--el-transition-duration) width ease-in-out, var(--el-transition-duration) padding-left ease-in-out, var(--el-transition-duration) padding-right ease-in-out;
}

.el-list-enter-active,
.el-list-leave-active {
  transition: all 1s;
}

.el-list-enter-from,
.el-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.el-list-leave-active {
  position: absolute !important;
}

.el-opacity-transition {
  transition: opacity var(--el-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.el-icon-loading {
  animation: rotating 2s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}

.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.el-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}
.el-icon.is-loading {
  animation: rotating 2s linear infinite;
}

.el-icon svg {
  height: 1em;
  width: 1em;
}

.gui-input {
  @apply flex flex-col gap-xxs;
}
.gui-input__wrapper {
  @apply relative flex bg-white py-sm px-xs border border-disabled-bd rounded-md h-12;
}

.gui-input__label {
  @apply absolute text-terciary-txt text-4 transition-all duration-200 ease-in font-medium;
  top: 50%;
  transform: translateY(-50%);
}

.gui-input__prefix-icon {
  @apply pr-2;
}

.gui-input__sufix-icon {
  @apply pl-2;
}

.gui-input.is-focus .gui-input__label {
  @apply text-2 font-medium;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
  left: 5px;
}

.gui-input.is-focus .gui-input__inner::placeholder {
  @apply opacity-100;
}

.gui-input.is-complete .gui-input__label {
  @apply text-2 font-medium;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
  left: 5px;
}

.gui-input.is-complete .gui-input__inner::placeholder {
  @apply opacity-100;
}

.gui-input.is-focus .gui-input__label {
  @apply text-everBlue-500;
}

.gui-input.is-focus .gui-input__wrapper {
  @apply border-everBlue-500;
}

.gui-input.is-focus .gui-input__inner {
  @apply caret-everBlue-500;
}

.gui-input.is-complete .gui-input__label {
  @apply text-secondary-txt;
}

.gui-input.is-complete .gui-input__wrapper {
  @apply border-secondary-bd;
}

.gui-input.is-disabled .gui-input__label {
  @apply text-disabled-txt;
  background: linear-gradient(180deg, transparent 40%, #eff0f2 0);
}

.gui-input.is-disabled .gui-input__wrapper {
  @apply bg-primary-def-disabled border-grey-400;
}

.gui-input.is-disabled .gui-input__inner {
  @apply text-disabled-txt;
}

.gui-input.is-error .gui-input__label {
  @apply text-error-txt;
}

.gui-input.is-error .gui-input__wrapper {
  @apply border-error-bd;
}

.gui-input.is-error .gui-input__help {
  @apply text-error-txt;
}

.gui-input.is-exceed .gui-input__help-count {
  @apply text-error-txt;
}

.gui-input.is-event {
  @apply cursor-pointer;
}
.gui-input.is-event .gui-input__inner {
  @apply cursor-pointer;
}

.gui-input:not(.is-focus):not(.is-complete) .gui-input__inner::placeholder {
  @apply opacity-0;
}

.gui-input:not(.is-focus):not(.is-complete):not(.is-label) .gui-input__inner::placeholder {
  @apply opacity-100;
}

.gui-input__inner {
  @apply w-full text-primary-txt font-medium text-4 appearance-none outline-none relative;
}
.gui-input__inner:focus {
  @apply outline-none;
}
.gui-input__inner[type=password]::-ms-reveal {
  @apply hidden;
}
.gui-input__inner::placeholder {
  @apply transition-all duration-200 ease-in text-terciary-txt;
}

.gui-input__icon {
  @apply text-6 text-grey-500 select-none w-5;
}

.gui-input__icon-password {
  @apply cursor-pointer;
}

.gui-input__help {
  @apply flex gap-xxs justify-between text-2 font-medium text-disabled-txt px-xs;
  min-height: 18px;
}

.gui-input__help-text {
  @apply line-clamp-2;
}

.gui-scrollbar {
  --gui-scrollbar-opacity: 0.3;
  --gui-scrollbar-bg-color: var(--gui-text-color-secondary);
  --gui-scrollbar-hover-opacity: 0.5;
  --gui-scrollbar-hover-bg-color: var(--gui-text-color-secondary);
}

.gui-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.gui-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}
.gui-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}
.gui-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  display: none;
}

.gui-scrollbar__thumb {
  @apply bg-grey-200;
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  transition: var(--gui-transition-duration) background-color;
}
.gui-scrollbar__thumb:hover {
  @apply bg-grey-400;
}

.gui-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
}
.gui-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px;
}
.gui-scrollbar__bar.is-vertical > div {
  width: 100%;
}

.gui-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.gui-scrollbar__bar.is-horizontal > div {
  height: 100%;
}

.gui-scrollbar-fade-enter-active {
  transition: opacity 340ms ease-out;
}
.gui-scrollbar-fade-leave-active {
  transition: opacity 120ms ease-out;
}
.gui-scrollbar-fade-enter-from, .gui-scrollbar-fade-leave-active {
  opacity: 0;
}

.gui-popper {
  --gui-popper-border-radius: var(--gui-popover-border-radius, 4px);
}

.gui-popper {
  position: absolute;
  border-radius: var(--gui-popper-border-radius);
  padding: 5px 11px;
  z-index: 2000;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  overflow-wrap: break-word;
  visibility: visible;
}
.gui-popper.is-dark {
  color: var(--gui-bg-color);
  background: var(--gui-text-color-primary);
  border: 1px solid var(--gui-text-color-primary);
}
.gui-popper.is-dark > .gui-popper__arrow::before {
  border: 1px solid var(--gui-text-color-primary);
  background: var(--gui-text-color-primary);
  right: 0;
}

.gui-popper.is-light {
  background: var(--gui-bg-color-overlay);
  border: 1px solid var(--gui-border-color-light);
}
.gui-popper.is-light > .gui-popper__arrow::before {
  border: 1px solid var(--gui-border-color-light);
  background: var(--gui-bg-color-overlay);
  right: 0;
}

.gui-popper.is-pure {
  padding: 0;
}

.gui-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}
.gui-popper__arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  content: " ";
  transform: rotate(45deg);
  background: var(--gui-text-color-primary);
  box-sizing: border-box;
}

.gui-popper[data-popper-placement^=top] > .gui-popper__arrow {
  bottom: -5px;
}
.gui-popper[data-popper-placement^=top] > .gui-popper__arrow::before {
  border-bottom-right-radius: 2px;
}
.gui-popper[data-popper-placement^=bottom] > .gui-popper__arrow {
  top: -5px;
}
.gui-popper[data-popper-placement^=bottom] > .gui-popper__arrow::before {
  border-top-left-radius: 2px;
}
.gui-popper[data-popper-placement^=left] > .gui-popper__arrow {
  right: -5px;
}
.gui-popper[data-popper-placement^=left] > .gui-popper__arrow::before {
  border-top-right-radius: 2px;
}
.gui-popper[data-popper-placement^=right] > .gui-popper__arrow {
  left: -5px;
}
.gui-popper[data-popper-placement^=right] > .gui-popper__arrow::before {
  border-bottom-left-radius: 2px;
}
.gui-popper[data-popper-placement^=top] > .gui-popper__arrow::before {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.gui-popper[data-popper-placement^=bottom] > .gui-popper__arrow::before {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}
.gui-popper[data-popper-placement^=left] > .gui-popper__arrow::before {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
}
.gui-popper[data-popper-placement^=right] > .gui-popper__arrow::before {
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: var(--gui-transition-fade-linear);
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

.gui-fade-in-linear-enter-active,
.gui-fade-in-linear-leave-active {
  transition: var(--gui-transition-fade-linear);
}

.gui-fade-in-linear-enter-from,
.gui-fade-in-linear-leave-to {
  opacity: 0;
}

.gui-fade-in-enter-active,
.gui-fade-in-leave-active {
  transition: all var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-fade-in-enter-from,
.gui-fade-in-leave-active {
  opacity: 0;
}

.gui-zoom-in-center-enter-active,
.gui-zoom-in-center-leave-active {
  transition: all var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-zoom-in-center-enter-from,
.gui-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.gui-zoom-in-top-enter-active,
.gui-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--gui-transition-md-fade);
  transform-origin: center top;
}
.gui-zoom-in-top-enter-active[data-popper-placement^=top],
.gui-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.gui-zoom-in-top-enter-from,
.gui-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.gui-zoom-in-bottom-enter-active,
.gui-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--gui-transition-md-fade);
  transform-origin: center bottom;
}

.gui-zoom-in-bottom-enter-from,
.gui-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.gui-zoom-in-left-enter-active,
.gui-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--gui-transition-md-fade);
  transform-origin: top left;
}

.gui-zoom-in-left-enter-from,
.gui-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition: var(--gui-transition-duration) height ease-in-out, var(--gui-transition-duration) padding-top ease-in-out, var(--gui-transition-duration) padding-bottom ease-in-out;
}

.gui-collapse-transition-leave-active,
.gui-collapse-transition-enter-active {
  transition: var(--gui-transition-duration) max-height ease-in-out, var(--gui-transition-duration) padding-top ease-in-out, var(--gui-transition-duration) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: var(--gui-transition-duration) width ease-in-out, var(--gui-transition-duration) padding-left ease-in-out, var(--gui-transition-duration) padding-right ease-in-out;
}

.gui-list-enter-active,
.gui-list-leave-active {
  transition: all 1s;
}

.gui-list-enter-from,
.gui-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.gui-list-leave-active {
  position: absolute !important;
}

.gui-opacity-transition {
  transition: opacity var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-picker__popper {
  --gui-datepicker-border-color: var(--gui-disabled-border-color);
}
.gui-picker__popper.gui-popper {
  background: var(--gui-bg-color-overlay);
  border: 1px solid var(--gui-datepicker-border-color);
  box-shadow: var(--gui-box-shadow-light);
}
.gui-picker__popper.gui-popper .gui-popper__arrow::before {
  border: 1px solid var(--gui-datepicker-border-color);
}
.gui-picker__popper.gui-popper[data-popper-placement^=top] .gui-popper__arrow::before {
  border-top-color: transparent;
  border-left-color: transparent;
}
.gui-picker__popper.gui-popper[data-popper-placement^=bottom] .gui-popper__arrow::before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.gui-picker__popper.gui-popper[data-popper-placement^=left] .gui-popper__arrow::before {
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.gui-picker__popper.gui-popper[data-popper-placement^=right] .gui-popper__arrow::before {
  border-right-color: transparent;
  border-top-color: transparent;
}

.gui-date-editor {
  --gui-date-editor-width: 220px;
  --gui-date-editor-monthrange-width: 300px;
  --gui-date-editor-daterange-width: 350px;
  --gui-date-editor-datetimerange-width: 400px;
  --gui-input-text-color: var(--gui-text-color-regular);
  --gui-input-border: var(--gui-border);
  --gui-input-hover-border: var(--gui-border-color-hover);
  --gui-input-focus-border: var(--gui-color-primary);
  --gui-input-transparent-border: 0 0 0 1px transparent inset;
  --gui-input-border-color: var(--gui-border-color);
  --gui-input-border-radius: var(--gui-border-radius-base);
  --gui-input-bg-color: var(--gui-fill-color-blank);
  --gui-input-icon-color: var(--gui-text-color-placeholder);
  --gui-input-placeholder-color: var(--gui-text-color-placeholder);
  --gui-input-hover-border-color: var(--gui-border-color-hover);
  --gui-input-clear-hover-color: var(--gui-text-color-secondary);
  --gui-input-focus-border-color: var(--gui-color-primary);
  --gui-input-width: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.gui-date-editor.gui-input__wrapper {
  box-shadow: 0 0 0 1px var(--gui-input-border-color, var(--gui-border-color)) inset;
}
.gui-date-editor.gui-input__wrapper:hover {
  box-shadow: 0 0 0 1px var(--gui-input-hover-border-color) inset;
}
.gui-date-editor--monthrange {
  --gui-date-editor-width: var(--gui-date-editor-monthrange-width);
}

.gui-date-editor--daterange, .gui-date-editor--timerange {
  --gui-date-editor-width: var(--gui-date-editor-daterange-width);
}

.gui-date-editor--datetimerange {
  --gui-date-editor-width: var(--gui-date-editor-datetimerange-width);
}

.gui-date-editor--dates .gui-input__wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gui-date-editor .close-icon {
  cursor: pointer;
}
.gui-date-editor .clear-icon {
  cursor: pointer;
}
.gui-date-editor .clear-icon:hover {
  color: var(--gui-text-color-secondary);
}
.gui-date-editor .gui-range-input {
  appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 39%;
  text-align: center;
  font-size: var(--gui-font-size-base);
  color: var(--gui-text-color-regular);
  background-color: transparent;
}
.gui-date-editor .gui-range-input::placeholder {
  color: var(--gui-text-color-placeholder);
}
.gui-date-editor .gui-range-separator {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  font-size: 14px;
  overflow-wrap: break-word;
  color: var(--gui-text-color-primary);
}
.gui-date-editor .gui-range__close-icon--hidden {
  opacity: 0;
  visibility: hidden;
}

.gui-range-editor.gui-input__wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  vertical-align: middle;
}
.gui-range-editor.is-active {
  box-shadow: 0 0 0 1px var(--gui-input-focus-border-color) inset;
}
.gui-range-editor.is-active:hover {
  box-shadow: 0 0 0 1px var(--gui-input-focus-border-color) inset;
}

.gui-range-editor--large {
  line-height: var(--gui-component-size-large);
}
.gui-range-editor--large.gui-input__wrapper {
  height: var(--gui-component-size-large);
}
.gui-range-editor--large .gui-range-separator {
  line-height: 40px;
  font-size: 14px;
}
.gui-range-editor--large .gui-range-input {
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}

.gui-range-editor--small {
  line-height: var(--gui-component-size-small);
}
.gui-range-editor--small.gui-input__wrapper {
  height: var(--gui-component-size-small);
}
.gui-range-editor--small .gui-range-separator {
  line-height: 24px;
  font-size: 12px;
}
.gui-range-editor--small .gui-range-input {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.gui-range-editor.is-disabled {
  background-color: var(--gui-disabled-bg-color);
  border-color: var(--gui-disabled-border-color);
  color: var(--gui-disabled-text-color);
  cursor: not-allowed;
  pointer-events: none;
}
.gui-range-editor.is-disabled:hover, .gui-range-editor.is-disabled:focus {
  border-color: var(--gui-disabled-border-color);
}
.gui-range-editor.is-disabled input {
  background-color: var(--gui-disabled-bg-color);
  color: var(--gui-disabled-text-color);
  cursor: not-allowed;
}
.gui-range-editor.is-disabled input::placeholder {
  color: var(--gui-text-color-placeholder);
}
.gui-range-editor.is-disabled .gui-range-separator {
  color: var(--gui-disabled-text-color);
}

.gui-picker-panel {
  color: var(--gui-text-color-regular);
  background: var(--gui-bg-color-overlay);
  border-radius: 0.5rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137);
  line-height: 30px;
}
.gui-picker-panel .gui-time-panel {
  margin: 5px 0;
  border: solid 1px var(--gui-datepicker-border-color);
  background-color: var(--gui-bg-color-overlay);
  box-shadow: var(--gui-box-shadow-light);
}
.gui-picker-panel__body::after, .gui-picker-panel__body-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.gui-picker-panel__content {
  position: relative;
  margin: 8px 15px 15px 15px;
}

.gui-picker-panel__footer {
  border-top: 1px solid var(--gui-datepicker-inner-border-color);
  padding: 4px 12px;
  text-align: right;
  background-color: var(--gui-bg-color-overlay);
  position: relative;
  font-size: 0;
}

.gui-picker-panel__shortcut {
  @apply text-grey-700;
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  padding-left: 16px;
  padding-bottom: 10px;
  text-align: left;
  outline: none;
  cursor: pointer;
}
.gui-picker-panel__shortcut:hover {
  @apply text-everBlue-500;
}
.gui-picker-panel__shortcut.active {
  background-color: #e6f1fe;
  color: var(--gui-datepicker-active-color);
}

.gui-picker-panel__btn {
  border: 1px solid var(--gui-fill-color-darker);
  color: var(--gui-text-color-primary);
  line-height: 24px;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 12px;
}
.gui-picker-panel__btn[disabled] {
  color: var(--gui-text-color-disabled);
  cursor: not-allowed;
}

.gui-picker-panel__icon-btn {
  @apply text-terciary-txt;
  width: 1.25rem;
  font-size: 16px;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.gui-picker-panel__icon-btn:hover {
  @apply text-everBlue-500;
}
.gui-picker-panel__icon-btn:focus-visible {
  @apply text-everBlue-500;
}
.gui-picker-panel__icon-btn.is-disabled {
  color: var(--gui-text-color-disabled);
}
.gui-picker-panel__icon-btn.is-disabled:hover {
  cursor: not-allowed;
}

.gui-picker-panel__icon-btn .gui-icon {
  cursor: pointer;
  font-size: inherit;
}

.gui-picker-panel__link-btn {
  vertical-align: middle;
}

.gui-picker-panel *[slot=sidebar],
.gui-picker-panel__sidebar {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid #949aab;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--gui-bg-color-overlay);
  overflow: auto;
}

.gui-picker-panel *[slot=sidebar] + .gui-picker-panel__body,
.gui-picker-panel__sidebar + .gui-picker-panel__body {
  margin-left: 110px;
}

.gui-time-spinner.has-seconds .gui-time-spinner__wrapper {
  width: 33.3%;
}
.gui-time-spinner__wrapper {
  max-height: 192px;
  overflow: auto;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  position: relative;
}
.gui-time-spinner__wrapper.gui-scrollbar__wrap:not(.gui-scrollbar__wrap--hidden-default) {
  padding-bottom: 15px;
}
.gui-time-spinner__wrapper.is-arrow {
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.gui-time-spinner__wrapper.is-arrow .gui-time-spinner__list {
  transform: translateY(-32px);
}
.gui-time-spinner__wrapper.is-arrow .gui-time-spinner__item:hover:not(.is-disabled):not(.is-active) {
  background: var(--gui-fill-color-light);
  cursor: default;
}

.gui-time-spinner__arrow {
  font-size: 12px;
  color: var(--gui-text-color-secondary);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: var(--gui-index-normal);
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.gui-time-spinner__arrow:hover {
  color: var(--gui-color-primary);
}
.gui-time-spinner__arrow.arrow-up {
  top: 10px;
}
.gui-time-spinner__arrow.arrow-down {
  bottom: 10px;
}

.gui-time-spinner__input.gui-input {
  width: 70%;
}
.gui-time-spinner__input.gui-input .gui-input__inner {
  padding: 0;
  text-align: center;
}

.gui-time-spinner__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.gui-time-spinner__list::after, .gui-time-spinner__list::before {
  content: "";
  display: block;
  width: 100%;
  height: 80px;
}

.gui-time-spinner__item {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: var(--gui-text-color-regular);
}
.gui-time-spinner__item:hover:not(.is-disabled):not(.is-active) {
  background: var(--gui-fill-color-light);
  cursor: pointer;
}
.gui-time-spinner__item.is-active:not(.is-disabled) {
  color: var(--gui-text-color-primary);
  font-weight: bold;
}
.gui-time-spinner__item.is-disabled {
  color: var(--gui-text-color-placeholder);
  cursor: not-allowed;
}

.gui-time-panel {
  background: var(--gui-bg-color-overlay);
  border-radius: 0.5rem;
  border: solid 1px var(--gui-datepicker-border-color);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137);
  border-radius: 2px;
  position: relative;
  width: 180px;
  left: 0;
  z-index: var(--gui-index-top);
  user-select: none;
  box-sizing: content-box;
}
.gui-time-panel__content {
  font-size: 0;
  position: relative;
  overflow: hidden;
}
.gui-time-panel__content::after, .gui-time-panel__content::before {
  content: "";
  top: 50%;
  position: absolute;
  margin-top: -16px;
  height: 32px;
  z-index: -1;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-top: 6px;
  text-align: left;
}
.gui-time-panel__content::after {
  left: 50%;
  margin-left: 12%;
  margin-right: 12%;
}
.gui-time-panel__content::before {
  padding-left: 50%;
  margin-right: 12%;
  margin-left: 12%;
  border-top: 1px solid var(--gui-border-color-light);
  border-bottom: 1px solid var(--gui-border-color-light);
}
.gui-time-panel__content.has-seconds::after {
  left: 66.6666666667%;
}
.gui-time-panel__content.has-seconds::before {
  padding-left: 33.3333333333%;
}

.gui-time-panel__footer {
  border-top: 1px solid var(--gui-timepicker-inner-border-color, var(--gui-border-color-light));
  padding: 4px;
  height: 36px;
  line-height: 25px;
  text-align: right;
  box-sizing: border-box;
}

.gui-time-panel__btn {
  border: none;
  line-height: 28px;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  color: var(--gui-text-color-primary);
}
.gui-time-panel__btn.confirm {
  font-weight: 800;
  color: var(--gui-timepicker-active-color, var(--gui-color-primary));
}

.gui-time-range-picker {
  width: 354px;
  overflow: visible;
}
.gui-time-range-picker__content {
  position: relative;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.gui-time-range-picker__cell {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 7px 7px;
  width: 50%;
  display: inline-block;
}

.gui-time-range-picker__header {
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
}

.gui-time-range-picker__body {
  border-radius: 2px;
  border: 1px solid #fff;
}

.gui-date-editor.gui-input:hover, .gui-date-editor.gui-input__wrapper:hover {
  box-shadow: none;
}
.gui-date-editor.is-active, .gui-date-editor.is-active:hover {
  @apply border-everBlue-500;
  box-shadow: none;
}
.gui-date-editor.gui-input__icon {
  width: 1.25rem;
  @apply text-terciary-txt;
}
.gui-date-editor .gui-range-input {
  text-align: left !important;
  font-size: 1rem;
  color: var(--color-txt-primary);
  font-weight: 500;
}
.gui-date-editor .gui-range-input::placeholder {
  @apply transition-all duration-200 ease-in text-terciary-txt;
}

.gui-picker__popper.gui-popper__tooltip {
  max-width: none !important;
  padding: 0 !important;
}

.gui-date-editor--timerange .gui-input__label,
.gui-date-editor--daterange .gui-input__label,
.gui-date-editor--monthrange .gui-input__label,
.gui-date-editor--yearrange .gui-input__label {
  @apply text-secondary-txt;
  left: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
}

.gui-date-editor--timerange.is-active .gui-input__label,
.gui-date-editor--daterange.is-active .gui-input__label,
.gui-date-editor--monthrange.is-active .gui-input__label,
.gui-date-editor--yearrange.is-active .gui-input__label {
  @apply text-everBlue-500;
}

.gui-time-range-picker__body {
  border-radius: 2px;
  border: 1px solid #949aab;
}

.gui-picker__popper.gui-popper .gui-popper__arrow:before {
  background-color: white !important;
}