/* Element Chalk Variables */
.gui-input {
  @apply flex flex-col gap-xxs;
}
.gui-input__wrapper {
  @apply relative flex bg-white py-sm px-xs border border-disabled-bd rounded-md h-12;
}

.gui-input__label {
  @apply absolute text-terciary-txt text-4 transition-all duration-200 ease-in font-medium;
  top: 50%;
  transform: translateY(-50%);
}

.gui-input__prefix-icon {
  @apply pr-2;
}

.gui-input__sufix-icon {
  @apply pl-2;
}

.gui-input.is-focus .gui-input__label {
  @apply text-2 font-medium;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
  left: 5px;
}

.gui-input.is-focus .gui-input__inner::placeholder {
  @apply opacity-100;
}

.gui-input.is-complete .gui-input__label {
  @apply text-2 font-medium;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
  left: 5px;
}

.gui-input.is-complete .gui-input__inner::placeholder {
  @apply opacity-100;
}

.gui-input.is-focus .gui-input__label {
  @apply text-everBlue-500;
}

.gui-input.is-focus .gui-input__wrapper {
  @apply border-everBlue-500;
}

.gui-input.is-focus .gui-input__inner {
  @apply caret-everBlue-500;
}

.gui-input.is-complete .gui-input__label {
  @apply text-secondary-txt;
}

.gui-input.is-complete .gui-input__wrapper {
  @apply border-secondary-bd;
}

.gui-input.is-disabled .gui-input__label {
  @apply text-disabled-txt;
  background: linear-gradient(180deg, transparent 40%, #eff0f2 0);
}

.gui-input.is-disabled .gui-input__wrapper {
  @apply bg-primary-def-disabled border-grey-400;
}

.gui-input.is-disabled .gui-input__inner {
  @apply text-disabled-txt;
}

.gui-input.is-error .gui-input__label {
  @apply text-error-txt;
}

.gui-input.is-error .gui-input__wrapper {
  @apply border-error-bd;
}

.gui-input.is-error .gui-input__help {
  @apply text-error-txt;
}

.gui-input.is-exceed .gui-input__help-count {
  @apply text-error-txt;
}

.gui-input.is-event {
  @apply cursor-pointer;
}
.gui-input.is-event .gui-input__inner {
  @apply cursor-pointer;
}

.gui-input:not(.is-focus):not(.is-complete) .gui-input__inner::placeholder {
  @apply opacity-0;
}

.gui-input:not(.is-focus):not(.is-complete):not(.is-label) .gui-input__inner::placeholder {
  @apply opacity-100;
}

.gui-input__inner {
  @apply w-full text-primary-txt font-medium text-4 appearance-none outline-none relative;
}
.gui-input__inner:focus {
  @apply outline-none;
}
.gui-input__inner[type=password]::-ms-reveal {
  @apply hidden;
}
.gui-input__inner::placeholder {
  @apply transition-all duration-200 ease-in text-terciary-txt;
}

.gui-input__icon {
  @apply text-6 text-grey-500 select-none w-5;
}

.gui-input__icon-password {
  @apply cursor-pointer;
}

.gui-input__help {
  @apply flex gap-xxs justify-between text-2 font-medium text-disabled-txt px-xs;
  min-height: 18px;
}

.gui-input__help-text {
  @apply line-clamp-2;
}

.gui-scrollbar {
  --gui-scrollbar-opacity: 0.3;
  --gui-scrollbar-bg-color: var(--gui-text-color-secondary);
  --gui-scrollbar-hover-opacity: 0.5;
  --gui-scrollbar-hover-bg-color: var(--gui-text-color-secondary);
}

.gui-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.gui-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}
.gui-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}
.gui-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  display: none;
}

.gui-scrollbar__thumb {
  @apply bg-grey-200;
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  transition: var(--gui-transition-duration) background-color;
}
.gui-scrollbar__thumb:hover {
  @apply bg-grey-400;
}

.gui-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
}
.gui-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px;
}
.gui-scrollbar__bar.is-vertical > div {
  width: 100%;
}

.gui-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.gui-scrollbar__bar.is-horizontal > div {
  height: 100%;
}

.gui-scrollbar-fade-enter-active {
  transition: opacity 340ms ease-out;
}
.gui-scrollbar-fade-leave-active {
  transition: opacity 120ms ease-out;
}
.gui-scrollbar-fade-enter-from, .gui-scrollbar-fade-leave-active {
  opacity: 0;
}

.gui-popper {
  --gui-popper-border-radius: var(--gui-popover-border-radius, 4px);
}

.gui-popper {
  position: absolute;
  border-radius: var(--gui-popper-border-radius);
  padding: 5px 11px;
  z-index: 2000;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  overflow-wrap: break-word;
  visibility: visible;
}
.gui-popper.is-dark {
  color: var(--gui-bg-color);
  background: var(--gui-text-color-primary);
  border: 1px solid var(--gui-text-color-primary);
}
.gui-popper.is-dark > .gui-popper__arrow::before {
  border: 1px solid var(--gui-text-color-primary);
  background: var(--gui-text-color-primary);
  right: 0;
}

.gui-popper.is-light {
  background: var(--gui-bg-color-overlay);
  border: 1px solid var(--gui-border-color-light);
}
.gui-popper.is-light > .gui-popper__arrow::before {
  border: 1px solid var(--gui-border-color-light);
  background: var(--gui-bg-color-overlay);
  right: 0;
}

.gui-popper.is-pure {
  padding: 0;
}

.gui-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}
.gui-popper__arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  content: " ";
  transform: rotate(45deg);
  background: var(--gui-text-color-primary);
  box-sizing: border-box;
}

.gui-popper[data-popper-placement^=top] > .gui-popper__arrow {
  bottom: -5px;
}
.gui-popper[data-popper-placement^=top] > .gui-popper__arrow::before {
  border-bottom-right-radius: 2px;
}
.gui-popper[data-popper-placement^=bottom] > .gui-popper__arrow {
  top: -5px;
}
.gui-popper[data-popper-placement^=bottom] > .gui-popper__arrow::before {
  border-top-left-radius: 2px;
}
.gui-popper[data-popper-placement^=left] > .gui-popper__arrow {
  right: -5px;
}
.gui-popper[data-popper-placement^=left] > .gui-popper__arrow::before {
  border-top-right-radius: 2px;
}
.gui-popper[data-popper-placement^=right] > .gui-popper__arrow {
  left: -5px;
}
.gui-popper[data-popper-placement^=right] > .gui-popper__arrow::before {
  border-bottom-left-radius: 2px;
}
.gui-popper[data-popper-placement^=top] > .gui-popper__arrow::before {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.gui-popper[data-popper-placement^=bottom] > .gui-popper__arrow::before {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}
.gui-popper[data-popper-placement^=left] > .gui-popper__arrow::before {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
}
.gui-popper[data-popper-placement^=right] > .gui-popper__arrow::before {
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: var(--gui-transition-fade-linear);
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

.gui-fade-in-linear-enter-active,
.gui-fade-in-linear-leave-active {
  transition: var(--gui-transition-fade-linear);
}

.gui-fade-in-linear-enter-from,
.gui-fade-in-linear-leave-to {
  opacity: 0;
}

.gui-fade-in-enter-active,
.gui-fade-in-leave-active {
  transition: all var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-fade-in-enter-from,
.gui-fade-in-leave-active {
  opacity: 0;
}

.gui-zoom-in-center-enter-active,
.gui-zoom-in-center-leave-active {
  transition: all var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-zoom-in-center-enter-from,
.gui-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.gui-zoom-in-top-enter-active,
.gui-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--gui-transition-md-fade);
  transform-origin: center top;
}
.gui-zoom-in-top-enter-active[data-popper-placement^=top],
.gui-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.gui-zoom-in-top-enter-from,
.gui-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.gui-zoom-in-bottom-enter-active,
.gui-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--gui-transition-md-fade);
  transform-origin: center bottom;
}

.gui-zoom-in-bottom-enter-from,
.gui-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.gui-zoom-in-left-enter-active,
.gui-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--gui-transition-md-fade);
  transform-origin: top left;
}

.gui-zoom-in-left-enter-from,
.gui-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition: var(--gui-transition-duration) height ease-in-out, var(--gui-transition-duration) padding-top ease-in-out, var(--gui-transition-duration) padding-bottom ease-in-out;
}

.gui-collapse-transition-leave-active,
.gui-collapse-transition-enter-active {
  transition: var(--gui-transition-duration) max-height ease-in-out, var(--gui-transition-duration) padding-top ease-in-out, var(--gui-transition-duration) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: var(--gui-transition-duration) width ease-in-out, var(--gui-transition-duration) padding-left ease-in-out, var(--gui-transition-duration) padding-right ease-in-out;
}

.gui-list-enter-active,
.gui-list-leave-active {
  transition: all 1s;
}

.gui-list-enter-from,
.gui-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.gui-list-leave-active {
  position: absolute !important;
}

.gui-opacity-transition {
  transition: opacity var(--gui-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.gui-picker__popper {
  --gui-datepicker-border-color: var(--gui-disabled-border-color);
}
.gui-picker__popper.gui-popper {
  background: var(--gui-bg-color-overlay);
  border: 1px solid var(--gui-datepicker-border-color);
  box-shadow: var(--gui-box-shadow-light);
}
.gui-picker__popper.gui-popper .gui-popper__arrow::before {
  border: 1px solid var(--gui-datepicker-border-color);
}
.gui-picker__popper.gui-popper[data-popper-placement^=top] .gui-popper__arrow::before {
  border-top-color: transparent;
  border-left-color: transparent;
}
.gui-picker__popper.gui-popper[data-popper-placement^=bottom] .gui-popper__arrow::before {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.gui-picker__popper.gui-popper[data-popper-placement^=left] .gui-popper__arrow::before {
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.gui-picker__popper.gui-popper[data-popper-placement^=right] .gui-popper__arrow::before {
  border-right-color: transparent;
  border-top-color: transparent;
}

.gui-date-editor {
  --gui-date-editor-width: 220px;
  --gui-date-editor-monthrange-width: 300px;
  --gui-date-editor-daterange-width: 350px;
  --gui-date-editor-datetimerange-width: 400px;
  --gui-input-text-color: var(--gui-text-color-regular);
  --gui-input-border: var(--gui-border);
  --gui-input-hover-border: var(--gui-border-color-hover);
  --gui-input-focus-border: var(--gui-color-primary);
  --gui-input-transparent-border: 0 0 0 1px transparent inset;
  --gui-input-border-color: var(--gui-border-color);
  --gui-input-border-radius: var(--gui-border-radius-base);
  --gui-input-bg-color: var(--gui-fill-color-blank);
  --gui-input-icon-color: var(--gui-text-color-placeholder);
  --gui-input-placeholder-color: var(--gui-text-color-placeholder);
  --gui-input-hover-border-color: var(--gui-border-color-hover);
  --gui-input-clear-hover-color: var(--gui-text-color-secondary);
  --gui-input-focus-border-color: var(--gui-color-primary);
  --gui-input-width: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.gui-date-editor.gui-input__wrapper {
  box-shadow: 0 0 0 1px var(--gui-input-border-color, var(--gui-border-color)) inset;
}
.gui-date-editor.gui-input__wrapper:hover {
  box-shadow: 0 0 0 1px var(--gui-input-hover-border-color) inset;
}
.gui-date-editor--monthrange {
  --gui-date-editor-width: var(--gui-date-editor-monthrange-width);
}

.gui-date-editor--daterange, .gui-date-editor--timerange {
  --gui-date-editor-width: var(--gui-date-editor-daterange-width);
}

.gui-date-editor--datetimerange {
  --gui-date-editor-width: var(--gui-date-editor-datetimerange-width);
}

.gui-date-editor--dates .gui-input__wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gui-date-editor .close-icon {
  cursor: pointer;
}
.gui-date-editor .clear-icon {
  cursor: pointer;
}
.gui-date-editor .clear-icon:hover {
  color: var(--gui-text-color-secondary);
}
.gui-date-editor .gui-range-input {
  appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 39%;
  text-align: center;
  font-size: var(--gui-font-size-base);
  color: var(--gui-text-color-regular);
  background-color: transparent;
}
.gui-date-editor .gui-range-input::placeholder {
  color: var(--gui-text-color-placeholder);
}
.gui-date-editor .gui-range-separator {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  font-size: 14px;
  overflow-wrap: break-word;
  color: var(--gui-text-color-primary);
}
.gui-date-editor .gui-range__close-icon--hidden {
  opacity: 0;
  visibility: hidden;
}

.gui-range-editor.gui-input__wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  vertical-align: middle;
}
.gui-range-editor.is-active {
  box-shadow: 0 0 0 1px var(--gui-input-focus-border-color) inset;
}
.gui-range-editor.is-active:hover {
  box-shadow: 0 0 0 1px var(--gui-input-focus-border-color) inset;
}

.gui-range-editor--large {
  line-height: var(--gui-component-size-large);
}
.gui-range-editor--large.gui-input__wrapper {
  height: var(--gui-component-size-large);
}
.gui-range-editor--large .gui-range-separator {
  line-height: 40px;
  font-size: 14px;
}
.gui-range-editor--large .gui-range-input {
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}

.gui-range-editor--small {
  line-height: var(--gui-component-size-small);
}
.gui-range-editor--small.gui-input__wrapper {
  height: var(--gui-component-size-small);
}
.gui-range-editor--small .gui-range-separator {
  line-height: 24px;
  font-size: 12px;
}
.gui-range-editor--small .gui-range-input {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.gui-range-editor.is-disabled {
  background-color: var(--gui-disabled-bg-color);
  border-color: var(--gui-disabled-border-color);
  color: var(--gui-disabled-text-color);
  cursor: not-allowed;
  pointer-events: none;
}
.gui-range-editor.is-disabled:hover, .gui-range-editor.is-disabled:focus {
  border-color: var(--gui-disabled-border-color);
}
.gui-range-editor.is-disabled input {
  background-color: var(--gui-disabled-bg-color);
  color: var(--gui-disabled-text-color);
  cursor: not-allowed;
}
.gui-range-editor.is-disabled input::placeholder {
  color: var(--gui-text-color-placeholder);
}
.gui-range-editor.is-disabled .gui-range-separator {
  color: var(--gui-disabled-text-color);
}

.gui-picker-panel {
  color: var(--gui-text-color-regular);
  background: var(--gui-bg-color-overlay);
  border-radius: 0.5rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137);
  line-height: 30px;
}
.gui-picker-panel .gui-time-panel {
  margin: 5px 0;
  border: solid 1px var(--gui-datepicker-border-color);
  background-color: var(--gui-bg-color-overlay);
  box-shadow: var(--gui-box-shadow-light);
}
.gui-picker-panel__body::after, .gui-picker-panel__body-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.gui-picker-panel__content {
  position: relative;
  margin: 8px 15px 15px 15px;
}

.gui-picker-panel__footer {
  border-top: 1px solid var(--gui-datepicker-inner-border-color);
  padding: 4px 12px;
  text-align: right;
  background-color: var(--gui-bg-color-overlay);
  position: relative;
  font-size: 0;
}

.gui-picker-panel__shortcut {
  @apply text-grey-700;
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  padding-left: 16px;
  padding-bottom: 10px;
  text-align: left;
  outline: none;
  cursor: pointer;
}
.gui-picker-panel__shortcut:hover {
  @apply text-everBlue-500;
}
.gui-picker-panel__shortcut.active {
  background-color: #e6f1fe;
  color: var(--gui-datepicker-active-color);
}

.gui-picker-panel__btn {
  border: 1px solid var(--gui-fill-color-darker);
  color: var(--gui-text-color-primary);
  line-height: 24px;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 12px;
}
.gui-picker-panel__btn[disabled] {
  color: var(--gui-text-color-disabled);
  cursor: not-allowed;
}

.gui-picker-panel__icon-btn {
  @apply text-terciary-txt;
  width: 1.25rem;
  font-size: 16px;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.gui-picker-panel__icon-btn:hover {
  @apply text-everBlue-500;
}
.gui-picker-panel__icon-btn:focus-visible {
  @apply text-everBlue-500;
}
.gui-picker-panel__icon-btn.is-disabled {
  color: var(--gui-text-color-disabled);
}
.gui-picker-panel__icon-btn.is-disabled:hover {
  cursor: not-allowed;
}

.gui-picker-panel__icon-btn .gui-icon {
  cursor: pointer;
  font-size: inherit;
}

.gui-picker-panel__link-btn {
  vertical-align: middle;
}

.gui-picker-panel *[slot=sidebar],
.gui-picker-panel__sidebar {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid #949aab;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--gui-bg-color-overlay);
  overflow: auto;
}

.gui-picker-panel *[slot=sidebar] + .gui-picker-panel__body,
.gui-picker-panel__sidebar + .gui-picker-panel__body {
  margin-left: 110px;
}

.gui-time-spinner.has-seconds .gui-time-spinner__wrapper {
  width: 33.3%;
}
.gui-time-spinner__wrapper {
  max-height: 192px;
  overflow: auto;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  position: relative;
}
.gui-time-spinner__wrapper.gui-scrollbar__wrap:not(.gui-scrollbar__wrap--hidden-default) {
  padding-bottom: 15px;
}
.gui-time-spinner__wrapper.is-arrow {
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.gui-time-spinner__wrapper.is-arrow .gui-time-spinner__list {
  transform: translateY(-32px);
}
.gui-time-spinner__wrapper.is-arrow .gui-time-spinner__item:hover:not(.is-disabled):not(.is-active) {
  background: var(--gui-fill-color-light);
  cursor: default;
}

.gui-time-spinner__arrow {
  font-size: 12px;
  color: var(--gui-text-color-secondary);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: var(--gui-index-normal);
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.gui-time-spinner__arrow:hover {
  color: var(--gui-color-primary);
}
.gui-time-spinner__arrow.arrow-up {
  top: 10px;
}
.gui-time-spinner__arrow.arrow-down {
  bottom: 10px;
}

.gui-time-spinner__input.gui-input {
  width: 70%;
}
.gui-time-spinner__input.gui-input .gui-input__inner {
  padding: 0;
  text-align: center;
}

.gui-time-spinner__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.gui-time-spinner__list::after, .gui-time-spinner__list::before {
  content: "";
  display: block;
  width: 100%;
  height: 80px;
}

.gui-time-spinner__item {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: var(--gui-text-color-regular);
}
.gui-time-spinner__item:hover:not(.is-disabled):not(.is-active) {
  background: var(--gui-fill-color-light);
  cursor: pointer;
}
.gui-time-spinner__item.is-active:not(.is-disabled) {
  color: var(--gui-text-color-primary);
  font-weight: bold;
}
.gui-time-spinner__item.is-disabled {
  color: var(--gui-text-color-placeholder);
  cursor: not-allowed;
}

.gui-time-panel {
  background: var(--gui-bg-color-overlay);
  border-radius: 0.5rem;
  border: solid 1px var(--gui-datepicker-border-color);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137);
  border-radius: 2px;
  position: relative;
  width: 180px;
  left: 0;
  z-index: var(--gui-index-top);
  user-select: none;
  box-sizing: content-box;
}
.gui-time-panel__content {
  font-size: 0;
  position: relative;
  overflow: hidden;
}
.gui-time-panel__content::after, .gui-time-panel__content::before {
  content: "";
  top: 50%;
  position: absolute;
  margin-top: -16px;
  height: 32px;
  z-index: -1;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-top: 6px;
  text-align: left;
}
.gui-time-panel__content::after {
  left: 50%;
  margin-left: 12%;
  margin-right: 12%;
}
.gui-time-panel__content::before {
  padding-left: 50%;
  margin-right: 12%;
  margin-left: 12%;
  border-top: 1px solid var(--gui-border-color-light);
  border-bottom: 1px solid var(--gui-border-color-light);
}
.gui-time-panel__content.has-seconds::after {
  left: 66.6666666667%;
}
.gui-time-panel__content.has-seconds::before {
  padding-left: 33.3333333333%;
}

.gui-time-panel__footer {
  border-top: 1px solid var(--gui-timepicker-inner-border-color, var(--gui-border-color-light));
  padding: 4px;
  height: 36px;
  line-height: 25px;
  text-align: right;
  box-sizing: border-box;
}

.gui-time-panel__btn {
  border: none;
  line-height: 28px;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  color: var(--gui-text-color-primary);
}
.gui-time-panel__btn.confirm {
  font-weight: 800;
  color: var(--gui-timepicker-active-color, var(--gui-color-primary));
}

.gui-time-range-picker {
  width: 354px;
  overflow: visible;
}
.gui-time-range-picker__content {
  position: relative;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.gui-time-range-picker__cell {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 7px 7px;
  width: 50%;
  display: inline-block;
}

.gui-time-range-picker__header {
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
}

.gui-time-range-picker__body {
  border-radius: 2px;
  border: 1px solid #fff;
}

.gui-date-editor.gui-input:hover, .gui-date-editor.gui-input__wrapper:hover {
  box-shadow: none;
}
.gui-date-editor.is-active, .gui-date-editor.is-active:hover {
  @apply border-everBlue-500;
  box-shadow: none;
}
.gui-date-editor.gui-input__icon {
  width: 1.25rem;
  @apply text-terciary-txt;
}
.gui-date-editor .gui-range-input {
  text-align: left !important;
  font-size: 1rem;
  color: var(--color-txt-primary);
  font-weight: 500;
}
.gui-date-editor .gui-range-input::placeholder {
  @apply transition-all duration-200 ease-in text-terciary-txt;
}

.gui-picker__popper.gui-popper__tooltip {
  max-width: none !important;
  padding: 0 !important;
}

.gui-date-editor--timerange .gui-input__label,
.gui-date-editor--daterange .gui-input__label,
.gui-date-editor--monthrange .gui-input__label,
.gui-date-editor--yearrange .gui-input__label {
  @apply text-secondary-txt;
  left: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  background: linear-gradient(180deg, transparent 40%, white 0);
  top: 0;
  transform: translateY(-50%);
  padding: 0 2px;
}

.gui-date-editor--timerange.is-active .gui-input__label,
.gui-date-editor--daterange.is-active .gui-input__label,
.gui-date-editor--monthrange.is-active .gui-input__label,
.gui-date-editor--yearrange.is-active .gui-input__label {
  @apply text-everBlue-500;
}

.gui-time-range-picker__body {
  border-radius: 2px;
  border: 1px solid #949aab;
}

.gui-picker__popper.gui-popper .gui-popper__arrow:before {
  background-color: white !important;
}