@use 'sass:map';
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/mixins/utils' as *;
@use 'element-plus/theme-chalk/src/mixins/var' as *;
@use 'element-plus/theme-chalk/src/common/var' as *;

@mixin ripple-animation($duration: 0.6s, $ease: ease-out, $fill-mode: forwards) {
  animation: ripple-effect $duration $ease $fill-mode;
}

@mixin hover-animation {
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
}

@include b('button') {
  @apply inline-flex items-center justify-center gap-xs rounded-md leading-none duration-200 border border-solid font-semibold relative overflow-hidden whitespace-nowrap w-fit;
  transition: all 0.2s ease-in-out;

  @include m('sm') {
    @apply px-md py-md text-2 h-xl;
  }

  @include m('sm') {
    @include e('icon-left') {
      @apply text-3;
    }
    
    @include e('icon-right') {
      @apply text-3;
    }
  }

  @include m('md') {
    @apply px-2xl py-md h-3xl text-4;
  }
  
  @include m('md') {
    @include e('icon-left') {
      @apply text-5;
    }
    
    @include e('icon-right') {
      @apply text-5;
    }
  }

  @include when(full) {
    @apply w-full;
  }

  @include when(disabled) {
    @apply cursor-not-allowed;
  }

  @include when(loading) {
    @apply cursor-wait;
  }

  @include m('variant-primary') {
    @apply bg-primary-def border border-primary-bd text-inverse-txt;
    @include hover-animation;

    &:hover:not(.is-disabled):not(.is-loading) {
      @apply bg-primary-def-hover border-primary-def-hover;
    }

    &:active:not(.is-disabled):not(.is-loading) {
      @apply bg-primary-def-press border-primary-def-press;
    }

    &.is-disabled:not(.is-loading) {
      @apply bg-primary-def-disabled border-primary-def-disabled text-disabled-txt;
    }
  }

  @include m('variant-secondary') {
    @apply bg-transparent text-primary-def border border-primary-bd;
    @include hover-animation;

    &:hover:not(.is-disabled):not(.is-loading) {
      @apply bg-blue-100 bg-opacity-80 text-primary-def-hover;
    }

    &:active:not(.is-disabled):not(.is-loading) {
      @apply bg-blue-100 bg-opacity-40 text-primary-def-press;
    }

    &.is-disabled:not(.is-loading) {
      @apply bg-transparent border-disabled-bd text-disabled-txt;
    }
  }

  @include m('variant-tertiary') {
    @apply bg-transparent text-primary-def border border-transparent;
    @include hover-animation;

    &:hover:not(.is-disabled):not(.is-loading) {
      @apply bg-blue-100 bg-opacity-80  text-primary-def-hover;
    }

    &:active:not(.is-disabled):not(.is-loading) {
      @apply bg-blue-100 bg-opacity-40 text-primary-def-press;
    }

    &.is-disabled:not(.is-loading) {
      @apply bg-transparent text-disabled-txt border-transparent;
    }
  }

  // Estructura de contenido
  @include e('content') {
    @apply relative flex items-center justify-center gap-xs z-10;

    > div {
      @apply flex items-center justify-center gap-xs w-full;
    }
  }

  // Icons spacing
  @include e(icon-left) {
    @apply mr-xs;
  }

  @include e(icon-right) {
    @apply ml-xs;
  }

  // Loader
  @include e(loader) {
    @apply absolute inset-0 flex items-center justify-center gap-1;
  }

  @include e(dot) {
    @apply w-xs h-xs rounded-full;
    background-color: currentColor;
    animation: dot-bounce 1s ease-in-out infinite;

    &:nth-child(2) {
      animation-delay: 0.33s;
    }

    &:nth-child(3) {
      animation-delay: 0.66s;
    }
  }

  // Ripple effect
  @include e(ripple) {
    @apply absolute rounded-full pointer-events-none z-10 bg-white;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    transform-origin: center;
  }
}

// Animations
@keyframes dot-bounce {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }

  20% {
    transform: translateY(-100%);
    opacity: 1;
  }

  40% {
    transform: translateY(0);
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}

@keyframes ripple-effect {
  0% {
    transform: scale(0);
    opacity: 0.35;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ripple-enter-active,
.ripple-leave-active {
  @include ripple-animation;
}
