@use 'sass:map';
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@use 'element-plus/theme-chalk/src/mixins/utils' as *;
@use 'element-plus/theme-chalk/src/mixins/var' as *;
@use 'element-plus/theme-chalk/src/common/var' as *;

@include b(logo) {
  @apply block object-contain w-full h-full max-w-full max-h-full;

  @include e(container) {
    @apply flex items-center justify-center box-border;
  }

  @include e(color) {
    @apply inline-block shrink-0;
  }

  @include e(placeholder) {
    @apply flex items-center justify-center bg-primary-bg rounded-sm w-full h-full text-center text-terciary-txt font-medium leading-none;

    &.text-size-xs {
      padding: 1px 2px;
      font-size: 7px;
      letter-spacing: -0.02em;
    }

    &.text-size-sm {
      padding: 1px 3px;
      font-size: 8px;
      letter-spacing: -0.02em;
    }

    &.text-size-md {
      padding: 2px 4px;
      font-size: 10px;
    }

    &.text-size-lg {
      padding: 3px 5px;
      font-size: 12px;
    }
  }
}
